<h1>ver ejemplo de html5 
    <button type="button"  class="badge bg-info text-dark" [routerLink]="['/ejemplo1']"> ejemplo1</button>
</h1>
<h1>
<span class="badge bg-secondary">ver ejemplo de css3 </span> 
<a class="btn btn-primary letter_negrita" role="button" [routerLink]="['/ejemplocss1']"> ejemplocss3-1</a>
</h1>
<h1>ver ejemplos de typescript <a [routerLink]="['/ejemplotp1']"> ejemplots1</a>
    <a [routerLink]="['/ejemplotp2']"> ejemplots2</a> <a [routerLink]="['/ejemplotp3']"> ejemplots3</a>
    <a [routerLink]="['/ejemplotp4']"> ejemplots4</a>
</h1>
    <br>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title font-big">Activar mi cuenta premium</h5>
              <p class="card-text">Solo el primer mes es gratis, pero en siguiente periodo cobra.</p>
              <a [routerLink]="['/premium']" class="btn btn-warning">Va, sere premium</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Desactivar premium</h5>
              <p class="card-text">Debe revisar la fecha antes del periodo de pago.</p>
              <a href="#" class="btn btn-info">Ni modo, a desactivar</a>
            </div>
          </div>
        </div>
      </div>
    
<h1>Cuestionario <span class="badge bg-secondary">Nuevo correo</span>
</h1>
    <a class="btn btn-primary" [routerLink]="['/body']" role="button">Iniciar sesión</a>
    
    <button type="button"  class="badge bg-info text-dark">Soy nuevo</button>
