<head>
</head>
<body>

    <h1>Header simple</h1>
    <h2 id="titulo" class="izquierda">Header con id Titulo</h2>
    <p>Parrafo simple</p>

    <h3 class="izquierda">Prueba clase Header 3</h3>
    <p class="izquierda">Prueba clase parrafo</p>
    <h3 class="izquierda contraste">Prueba multiples clases parrafo</h3>
    <p class="ejemplo_de_letra">Este un ejemplo</p>
    <app-ejemplocss2></app-ejemplocss2>
    <app-ejemplocss3></app-ejemplocss3>
    <app-ejemplocss4></app-ejemplocss4>
    <div class="p-3 mb-2 bg-primary text-white">.bg-primary normal</div>
    <div class="p-3 mb-2 bg-primary-1 text-white">.bg-primary colortext </div>
    <div class="p-3 mb-2 bg-primary-1 text-gr1">.bg-primary colortext and Bgd</div>
    <h1 class="text-redlight bg-dark">ejemplobootstrap </h1>
    <h1 class="text-redlight bg-darkblue">ejemplobootstrap </h1>
</body>

